@font-face {
    font-family: 'product-sans';
    src: url(../fonts/product-sans/product-sans.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat/montserrat-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat/montserrat-bold.ttf);
    font-weight: 700;
}